.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.title {
  color: var(--light-accent);
  letter-spacing: 2px;
  margin: 20px auto;
}

.servicesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  margin: auto;
}

.service {
  font-size: 24px;
  width: 80%;
  word-wrap: break-word;
  margin: auto;
}

.serviceLabel {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.5;
  cursor: pointer;
}

.serviceInp {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  transform: scale(1.5);
  appearance: none;
  outline: 1px solid var(--blue);
  position: relative;
}

.serviceInp:checked {
  background-color: var(--accent);
}

.serviceInp:checked::before {
  content: "✔";
  color: black;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
